* {box-sizing:border-box;
    margin: 0;
    padding: 0;
 }
 
 p{
    font: Arial;
    color: black;
    font-size: 20px;
    margin: 10px;
  }
  
  h1{
    font: Verdana;
    font-weight: bold;
    justify-content: center;
  }
  
  label{
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  ul{
    font: Arial;
    font-size: 20px;
    margin: 10px;
    margin-left: 50px;
  }
  
  a {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-style: oblique;
  }

 div.contenedor {
   display:flex;
   flex-direction:row;
   width:100vw;
   height:100vh;
 }
 
 div.sidebar {
   background-color: rgb(19, 19, 104);
   width: 200px;
 }
 
 div.content {
   background-color: rgb(163, 163, 255);
   padding: 1px 16px;
   flex-grow:2;
 }
 
 a {display: block;
    text-decoration: none;
    padding: 5px;
 }

 .contenidoOpcion { 
    display: none;
    background-color: white; 
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px 10px;
  }

 #opcion1:target,
 #opcion2:target,
 #opcion3:target,
 #opcion4:target,
 #opcion5:target { display: block;}
 
 a:hover { background-color: blue;
           color: white;
 }
 
 @media screen and (max-width: 1200px) {
   div.contenedor {
     flex-direction:column;
   }
 
   div.sidebar {
     display: flex;
     width: 100%;
     justify-content:space-between;
   }
 }
 
 @media screen and (max-width: 500px) {
 
   div.sidebar {
     width: 100%;
     flex-direction: column;
     text-align:center;
   }
 }